body, #loader-div {
    margin: 0;
    background-image: url("/shared/images/repeatRBBackground.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

#alrAcc {
    font-family: 'Helvetica', sans-serif;
    font-weight: 800;
        font-size: 4vh;
    line-height: 4.2vh;
    color: #FF2E00;
    -webkit-text-stroke: 0.25vh black;
    text-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.25);

}

#welcomeDesign{
    font-family: 'Helvetica', sans-serif;
    font-weight: 800;
    font-size:6.5vh;
    line-height: 4.2vh;
    color: #FF2E00;
    -webkit-text-stroke: 0.3vh black;
    text-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
}

.login-link{
    border-bottom: 0.5vh solid black;
    font-size: 3vh;
    -webkit-text-stroke: 0.25vh black;
    margin: auto;
}

#playAsGuest{
    margin-top: -2.5vh;
    font-family: 'Helvetica', sans-serif;
    font-weight: 800;
    font-size: 2.5vh;
    -webkit-text-stroke: 0.2vh black;
}

#input-email{
    height: 5.5vh;
}

#input-username{
    height: 5.5vh;
}

#input-password{
    height: 5.5vh;
}