html,
#loader-div {
    /* background: rgb(124, 0, 255);
    background: linear-gradient(135deg, rgb(0, 149, 255) 0%, rgb(0, 72, 255) 100%); */
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../shared/images/repeatRBBackground.PNG");
    background-size: cover;
}

#big_container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20dvh;
    margin-top: 8dvh;
    width: 50dvw;
    max-width: 50dvw;
    height: 10dvh;
    min-height: 0dvh;
    max-height: 10dvh;
}




div label.white_font {

    margin: auto;
    font-size: 4vh;
}

.white_font {
    color: #ffffff;
    font-size: x-large;
    font-weight: bold;

}

#white_font_title {
    font-family: 'Helvetica', sans-serif;
    font-weight: 800;

    font-size: 40px;
    color: #E01F16;

    -webkit-text-stroke: 0.3vh rgb(0, 0, 0);
    text-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.25);

}


.container {
    display: grid;
}





.div_32px {
    margin: 3.2vh;
}

#back_button {
    width: clamp(4vh, 12vh, 12vh);
    height: clamp(4vh, 12vh, 12vh);
    position: fixed;
    top: 5%;
    left: 8vh;

    border-radius: 9vh;
    background-color: #E01F16;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 4dvh;

    transition: box-shadow ease-in-out 0.2s;
    padding: 0;
}

#back_button:hover {
    background-color: red;
    cursor: pointer;
}

#footer {
    width: auto;
    height: 20vh;
    margin: auto;
    display: flex;
    align-items: center;

}



.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#pfp {
    display: flex;
    justify-content: center;
    width: 16dvw;
    height: 16dvw;
}

#edit-pfp {
    display: flex;
    justify-content: center;
    width: 16dvw;
    height: 16dvw;
    margin: auto auto 25dvh auto;
}

#edit {
    position: absolute;
    margin: 30dvh 0 0 20dvw;
}


#edit button {
    width: 6dvw;
    height: 6dvw;
    border-radius: 100%;
    background-color: #E01F16;
    border: 0.5dvw solid white;
    transition: background-color 0.2s;
    cursor: pointer;
    color: white;
    font-size: 2dvw;
}

#edit button:hover {
    background-color: #bd1c13;
}

.btn button {
    display: inline-block;
    padding: 8dvh 4dvw;
    background-color: #E01F16;
    color: white;
    border: 2px solid white;
    border-radius: 10dvh;
    cursor: pointer;
    font-size: 2dvw;
    text-align: left;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 4dvw;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;

}

.btn button::after {
    content: '\00a0 \003e';
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 3dvw;
    font-weight: bold;
    transform: translateY(-50%);
    transition: transform 0.2s;
}

.btn button:hover {
    background-color: #bd1c13;

}

.btn button:hover::after {
    transform: translateY(-50%) scale(0.8);
}


.btn {
    margin-bottom: 20dvh;
}


.btn label {
    color: white;
    font-size: 10dvh;
    font-weight: bold;

}