body, #loader-div {
    background: linear-gradient(248.46deg, #0075FF 0%, #00D1FF 100%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetPWContainer{
    background-color: white;
    width: 30%;
    height: 65%;
    text-align: center;
    box-shadow: 0vh 0.6vh 0.6vh rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.inputField{
    outline: none;
    width: 71%;
    height: 5.7vh;
    border: none;
    margin-left: 0.2vh;
}

.buttonDesign{
    margin-bottom: 1vh;
    margin-top: 1.5vh;
    background: #FF2E00;
    border-radius: 0.5vh;
    width: 40%;
    height: 14%;
    font-family: 'Inter';
    font-weight:bold;
    font-size: 2vh;
    color: white;
}

#usernameInput{
    margin-top:1vh;
}

.error {
    color: red;
    margin-top: 0;
    margin-bottom: 0.3vh;
}

#resetPW{
    margin-top: 5vh;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 3.8vh;
    color: #FF2E00;
    text-shadow: -0.05vh 0.05vh, 0.05vh 0.05vh, 0.05vh 0.05vh #FF2E00;

}

.inputFieldSemiContainer {
    border: 0.1vh solid #4A4A4A;
    border-radius: 0.5vh;
    width: 71%;
    height: 6vh;
    margin: 0 auto;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inputFieldSemiContainer img{
    width: 7vh;
    cursor: pointer;
}
#input-password{
    height: 4.5vh;
    width: 76vh;
    border-radius: 4vh;
    border-width: 0.55vh;
    font-size: 2vh;
    margin-bottom: 2vh;
    padding: 0.5vh;
}
.hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}