body, #loader-div {
    background: linear-gradient(248.46deg, #0075FF 0%, #00D1FF 100%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.resetPWContainer{
    background-color: white;
    width: 60vh;
    height: 65vh;
    border-radius: 3.5vh;
    text-align: center;
    box-shadow: 0vh 0.6vh 0.6vh rgba(0, 0, 0, 0.25);
    display: grid;

}

.inputField{
    outline: none;
    width: 30vh;
    height: 5.7vh;
    border: none;
    margin-left: 0.2vh;
}


.buttonDesign{
    background: #FF2E00;
    font-family: 'Inter';
    font-weight:bold;
    font-size: 4vh;
    color: white;
    height: 9.5vh;
    width: 30vh;
    border-radius: 3vh;
    border-width: 0.55vh;
    padding: 0;
    display: block;

}

#usernameInput{
    margin-top:1vh;
}

.error {
    color: red;
    margin-top: 0;
    margin-bottom: 0.3vh;
}

#resetPW{
    margin-top: 5vh;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 3.8vh;
    color: #FF2E00;
    text-shadow: -0.05vh 0.05vh, 0.05vh 0.05vh, 0.05vh 0.05vh #FF2E00;

}

.inputFieldSemiContainer {
    border: 0.1vh solid #4A4A4A;
    border-radius: 0.5vh;
    width: 44vh;
    height: 8vh;
    margin: 4vh auto -1vh auto;
    border-width: 0.3vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5vh;

}

.inputFieldSemiContainer img{
    width: 7vh;
    cursor: pointer;
}
#input-password{
    height: 7vh;
    width: 76vh;
    border-radius: 4vh;
    border-width: 0.55vh;
    font-size: 3vh;
    margin-bottom: 2vh;
    padding: 0vh;
}
#input-password-again{
    height: 7vh;
    width: 76vh;
    border-radius: 4vh;
    border-width: 0.55vh;
    font-size: 3vh;
    margin-bottom: 2vh;
    padding: 0vh;

}
.inputFieldContainer{
    align-content: center;
    height: 25vh;
    width: 60vh;
    margin-bottom: 2vh;
    padding: 0.5vh;

}
.hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}