body, #loader-div {
    margin: 0;
    background-image: url("/shared/images/repeatRBBackground.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}