body, #loader-div {
    margin: 0;
    background: linear-gradient(248.46deg, #0075FF 0%, #00D1FF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.home-link {
    display: inline-block;
    position: absolute;
    top: 5vh;
    left: 5vh;
    font-size: 1vw;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 36vw;
    background-color: white;
    box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
}

br {

}

.profile-text {
    font-size: 3vw;
    font-weight: bolder;
    color: #FF2E00;
    -webkit-text-stroke: 0.15vw black;

}

.profile-picture {
    width: 10vw;
    height: 10vw;
    border: 0.4vw solid #FF2E00;
    border-radius: 7vw;
    box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
}

.menu-button {
    background: #FF2E00;
    margin-bottom:1.5vw;
    margin-top: 0.3vw;
    margin-left: 1vw;
    height: 3vw;
    width: 8vw;
    font-size: 1.2vw;
    font-weight: 500;
    border: none;
    font-weight: bold;
}

h1 {
    font-weight: 800;
    font-size: 3vw;
    color: #FF2E00;
    margin-bottom: 1vw;
}

button{
    color:white;
    box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
    border-radius: 1vw;

}

button:hover{
    background: #DA2700;
}

.profile-text-info{
    color: white;
    -webkit-text-stroke: 0.15vw black;
}

button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

#msg-popup-box {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#msg-popup-box div,
#msg-popup-box-text {
    width: 50dvw;
    height: 50dvh;
    background-color: white;
    border-radius: 5dvh;
    padding: 2dvh;
    color: black;
    text-align: center;
    font-size: 4dvh;

}

#username2{
    color: red;

}

#yes-btn{
    margin-top: 15dvh;
    background-color:#FF2E00;
    border: none;
    width: 20dvw;
    height: 8dvh;
    cursor: pointer;
    font-size: 5dvh;
}

#no-btn{
    background-color: #9b9b9b;
    border: none;
    width: 20dvw;
    height: 8dvh;
    cursor: pointer;
    font-size: 5dvh;


}