body, #loader-div {
    background: linear-gradient(248.46deg, #0075FF 0%, #00D1FF 100%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
}

*{
    margin: 0;
    padding: 0;
}

.forgotPWContainer{
    background-color: white;
    width: 40vw;
    height: 70vh;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.25);
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

h1{
    font-size: 6vh;
    font-weight: bolder;
    color: #FF2E00;
    text-shadow: -0.05vh 0.05vh, 0.05vh 0.05vh, 0.05vh 0.05vh #FF2E00;
}

#enter-your-email-text{
    color: #3B3B3B;
    font-size: 3vh;
    margin-bottom: 4vh;
}

.inputField{
    width: 25vw;
    height: 7vh;
    font-size: 3vh;
    border: 0.1vh solid black;
}

button{
    margin-top: 3vh;
    width: 15vw;
    height: 8vh;
    margin-bottom: 2vh;
    background-color: #FF2E00;
    color: white;
    font-size: 3vh;
    border: none;
}

.error{
    color: red;
}

.hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a{
    font-size: 3vh;
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none;
    color: black;
}

.inputFieldContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vh;
}