

body, #loader-div {
    background: linear-gradient(to top right, #32E8FF, #0075FF);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.pfp{
    box-shadow: 0 0.4vh 0.4vh 0 rgba(0, 0, 0, 0.4);
}


#picLogo{

    padding: 0vh;
    margin: auto;
    width: 50vh;
    max-width: 56vh;
    min-width: 40vh;
    height: auto;
    display: block;

}
#firstDiv{
    margin: 40px auto auto auto;
    width:90%;
    display:grid;
    grid-template-columns: 30% auto 15% 15%;
}
#gamebuttonContainer{
    width: 40vh;
    border-radius: 3vh 0 0 0;
    margin: auto;
    margin-left: 30vh;
    margin-top: 15vh;
}
#btn-ranked{
    width: 20vh;
    height: 20vh;
    border-radius: 3vh 0 0 0;
    padding: 0.5vh;
    font-size: 4vh;
    box-shadow: 0 0.4vh 0.4vh 0 rgba(0, 0, 0, 0.4);
    transition: 0s;
    border-width: 0vh;
    color: white;
}

#btn-random{
    border-radius: 0 3vh 0 0;
    width: 20vh;
    height: 20vh;
    padding: 0.5vh;
    font-size: 4vh;
    box-shadow: 0 0.4vh 0.4vh 0 rgba(0, 0, 0, 0.4);
    transition: 0s;
    margin: auto;
    margin-left: 23vh;
    transform: translate(0vh, -20vh);
    border-width: 0vh;
    color: white;
}
#btn-options{
    border-radius: 0 0 0 3vh;
    width: 20vh;
    height: 20vh;
    padding: 0.5vh;
    font-size: 4vh;
    box-shadow: 0 0.4vh 0.4vh 0 rgba(0, 0, 0, 0.4);
    transition: 0s;
    transform:translate(0vh,-18vh);
    border-width: 0vh;
    color: white;
}
#btn-create{
    border-radius: 0 0 3vh 0;
    width: 20vh;
    height: 20vh;
    padding: 0.5vh;
    font-size: 4vh;
    box-shadow: 0 0.4vh 0.4vh 0 rgba(0, 0, 0, 0.4);
    transition: 0s;
    transform:translate(23vh,-38vh);
    border-width: 0vh;
    color: white;
}
#diver{
    transform:translate(70vh,-80vh);
    width: 120vh;
}
@media screen and (aspect-ratio: 8/6 ){
    #divForNotifiction{
        transform:translate(110vh,-138vh);
    }
    #DivForStatisticsButton{
        transform:translate(90vh,-148vh);
    }
    #diver{
        transform:translate(60vh,-80vh);
        width: 120vh;
    }

}
#divForNotifiction{
    transform:translate(130vh,-138vh);
}
#DivForStatisticsButton{
    transform:translate(110vh,-148vh);

}
#profile{
    transform:translate(-10vh,-160vh);
}

#Buttonnotification{
    width: 10vh;
    height: 10vh;
    border: 0.2vh solid #E01F16;
    border-radius: 5vh;
    padding: 0;
    border-width: 0.2vh;

}

#statisticButton{
    width: 10vh;
    height: 10vh;
    border: 0.2vh solid #E01F16;
    border-radius: 5vh;
    padding: 0;
    border-width: 0.2vh;
}

#imageStatistic{
    width: 9vh;
    height: 10vh;
    border-radius: 10vh;
}
#notifyButtonImg{
    width: 10vh;
    height: 10vh;

}
#FriendListorSum{
    border-radius: 3vh 3vh 3vh 3vh;
    background-color: #E01F16;
}

#info-pfp{
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    border: 0.3vh solid #E01F16;
}

.menu-tile {
    box-shadow: 0 0.4vh 0.4vh 0 #00000066, inset 0 0 1vh;
    background-color: #E01F16;
    font-size: 3.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    transition: 0.2s;
}

.menu-tile:hover {
    background-color: red;
}

.menu-tile span {
    transition: transform 0.2s;
    transform: scale(1);
    transform-origin: center;
}

.menu-tile:active {
    box-shadow: inset 0 0 1vh black;
}

.menu-tile:active span {
    transform: scale(0.9);
}

.menu-tile-disabled {
    pointer-events: none;
    opacity: 0.4;
}

.menu-tile-disabled:hover {
    background-color: #E01F16;
}

.drop-shadow-figma {
    box-shadow: 0 0.4vh 0.4vh 0 rgba(0, 0, 0, 0.4);
}

.logo{
    margin-top: 11px;
    max-width: 30%;
    min-width:20%;
    height: auto;
}

.general-button-style{
    border-radius: 50px 50px 50px 50px;
    border:2px solid #E01F16;
    width:100px;
    height:100px;
    background-color: #E01F16;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0.4vh 0.4vh 0 rgba(0, 0, 0, 0.4);

}

.general-button-style:hover {
    background-color: red;
}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 260px;
    box-shadow: 0 0.8vh 1.6vh rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #FFFFFF;
    border: 3px solid #E01F16;
    box-shadow: 0.3vh 0.6vh 0.6vh 0.2vh rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.dropdown-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}



.addButton {
    display: inline-block;
    vertical-align: middle;
    width: 15vh;
    height: 6.6vh;
}
#AddButtonFr{
    width: 7.6vh;
    height: 6vh;
    padding: 0;
    transition-duration: 0s;
    border-width: 0.4vh;
    font-size: 2.6vh;
}

.addButton button {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 25%;
    float:right;
    transition: 0.2s;
    cursor: pointer;
}

.addButton button:hover{
    background-color: rgb(32, 32, 32);
}

#searchbar {
    vertical-align: middle;
    width: 60vh;
    margin: 0;
    border-width: 1vh;
    font-size: 2vh;

}
.searchbar input::placeholder {
    color: white;
}
.searchbar input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: none;
    width: 100%;
    padding: 16px;
    font-size: 1.5vw;
    color: white;
}

.friend {
    border: 0.2vh solid black;
    display: flex;
    flex: 1;
    width: 70vh;
    height: 6vh;
    border-radius: 1.5vh;
    margin-top: 0.8vh;
    background-color: white;
    color: black;
}

.topbar{
    display: flex;
    flex: 1;
}

.bottombar{
    margin-top: 1.6vh;
}

#friend-list-cont{
    width: 70vh;
    height: 30vh;
    padding: 3.2vh;
}

.friend_pfp img{
    border-radius: 100%;
    width: 6vh;
    height: 6vh;
}

.challengeButton {
    display: flex;
    align-items: center;

}

.broclasschalleng{
    padding-right: 1vh;
    padding-left: 0vh;
    padding-top: 0vh;
    padding-bottom: 0vh;
}

.challengeButton button {
    background-color: #CA0000;
    width: 15vh;
    height: 3vh;
    margin-right: 0.8vh;
    border-radius: 3vh;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 2vh;
}

.friend_username {
    display: flex;
    align-items: center;
    width: 60vh;
    padding: 0.5vh;
}

.friend_username span{
    margin-left: 1.6vh;
    vertical-align: middle;

}
.dropdown-notify-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    right:50px;
}

.notification-center{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: auto;
    border: 2px solid red;
    box-shadow: 0 0.8vh 1.6vh rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

#notification-list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

#notification-content{
}

.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left:60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 75px solid rgb(255, 255, 255);
}

.notifications{
    color: black;
    text-align: center;
}

.decision-btns button{
    background-color: red;
    border:none;
    border-radius: 45px;
    color: white;
    padding: 8px;
    margin: 0px 0px 16px 16px;
}

.x-button button{
    background-color: #9B9B9B;
    color: white;
    border-radius: 90px;
    border: none;
    padding:8px;
    width: 30px;
    height: 30px;
    margin-top: 50%;
    margin-right: 8px;
}

.notify-pfp img{
    border-radius: 90px;
}

.notify-pfp-div{
    width: 50px;
    height: 70px;
    margin:8px;
}

.message {
    margin-top:8px;
    width: 230px;
    display: inline-block;
}

.server-message{
    width: 265px;
    margin: 16px 16px 16px 16px;
}

.message span{
    display: inline;
}

.notification-unread {
    background-color: #e1fffb;
}

.notification-read {
    background-color: #eFeFeF;
}

.notification-entry{
    border-bottom: 2px solid #BAB6B6;
}

.flexify{
    display: flex;
}

.message-title{
    color: red;
}

.message-itself{
    color: black;
    font-size: smaller;
}

.viewProfile {
    position: absolute;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: none;
}


.notifyButton-normal {
    width: 80px;
}

.notifyButton-unread {
    width: 80px;
    animation: tilt-shaking 0.25s infinite;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

#rankImg {
    width: 2.8vh;
    height: 2.8vh;
    border-radius: 100%;
    margin-left: 1vh;
    position: relative;
    top: 0.6vh;
}


