body {
    background-image: url("/shared/images/backgroundInGame.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main-content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
}

.player-box {
    width: 350px;
    height: 100%;
}

.player-red {
    justify-self: left;
}

.player-blue {
    justify-self: right;
}

.player-info-box {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;
}

.player-name {
    background-color: white;
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-width: 5px;
}

.player-red .player-name,
.player-red .player-image {
    border-color: red;
    border-style: solid;
}

.player-blue .player-name,
.player-blue .player-image {
    border-color: blue;
    border-style: solid;
}

.player-image {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    border-width: 8px;
}

.player-red .player-stats-box {
    background-color: red;
}

.player-blue .player-stats-box {
    background-color: blue;
}
.player-stats-box {
    margin: 10px auto; /* Reduziere den Abstand oben und unten */
    width: 50%; /* Kleinere Breite für die Player-Stat-Box */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px; /* Reduziere den Abstand zwischen den Spalten */
    grid-row-gap: 10px; /* Reduziere den Abstand zwischen den Zeilen */
    align-items: center;
    justify-items: center;
}

.player-stats-box p {
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    margin: 5px auto 5px auto;
}

.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-box {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;  /* Reduziere den Abstand zwischen den Feldern */
}

.game-field {
    width: 90px;   /* Kleinere Breite für die Spielfelder */
    height: 90px;  /* Kleinere Höhe für die Spielfelder */
    background-color: white;
    color: black;
    font-size: 15px;  /* Kleinere Schriftgröße */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.game-field:hover {
    background-color: darkgray;
    color: white;
}

.game-stats-box {
    margin-top: 10px;
}

.player-vs-text {
    margin-top: 0px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.player-vs {
    font-weight: bolder;
    font-size: 40px;
}

.player-turn-text {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.col-red {
    color: red;
}

.col-blue {
    color: blue;
}

.chat-container {
    background-color: aqua;
    width: 80%; /* Kleinere Breite für die Chat-Box */
    height: 150px; /* Kleinere Höhe für die Chat-Box */
    justify-self: center;
    margin: 10px auto; /* Reduziere den Abstand oben und unten */
    color: black;
    border-radius: 10px;
    overflow: hidden; /* Oder 'auto', je nach Bedarf */
    position: relative; /* Position relativ setzen */
}
#chat-input {
    margin: 0px;
    height: 40px;
    width: 100%;
    border-top: 4px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    position: absolute; /* Position absolut setzen */
    bottom: 0; /* An den unteren Rand setzen */
    z-index: 1; /* Über anderen Elementen liegen */
}

#chat-list {
    margin: 0px;
    bottom: 20px;
    width: 100%;
    list-style: none;
    padding: 10px 0px 0px 0px;
    overflow: auto;
    height: 250px;
}

#chat-list li {
    width: max-content;
}

#chat-input {
    margin: 0px;
    height: 40px;
    width: 100%;
    border-top: 4px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#msg-popup-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#msg-popup-box div,
#msg-popup-box-text {
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 40px;
}

.drop-shadow-game-box {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
