body, #loader-div {
    background-image: url("/shared/images/backgroundInGame.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
}

.player-box {
    width: 30vw;
    height: 100vh;
}

.player-red {
    justify-self: left;
}

.player-blue {
    justify-self: right;
}

.player-info-box {
    margin-top: 4vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 2vh;
    align-items: center;
    justify-items: center;
}

.player-name {
    top: -2vh;
    position: relative;
    background-color: white;
    color: black;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 0.5vh 1.5vh;
    border-width: 0.5vh;
}
.player-red .player-name,
.player-red .player-image {
    border-color: red;
    border-style: solid;
}

.player-blue .player-name,
.player-blue .player-image {
    border-color: blue;
    border-style: solid;
}

.player-image {
    position: relative;
    top: -5vh;
    width: 10vw;
    height: 10vw;
    background-color: white;
    border-radius: 50%;
    border-width: 1.6vh;
    margin-bottom: 2vh;
}

.view-profile-circle {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    position: absolute;
    width: 10vw;
    height: 10.5vw;
    border-radius: 50%;
    line-height: 10.5vw;
    text-align: center;
    display: none;
}

.player-image:hover + .view-profile-circle, view-profile-circle:hover {
    display: block;
}

.player-red .player-stats-box {
    background-color: red;
}

.player-blue .player-stats-box {
    background-color: blue;
}

.player-stats-box {
    position: relative;
    top: -5vh;
    margin: 0 auto;
    width: 43%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
    align-items: center;
    justify-items: center;
    margin-bottom: 2vh;
    border-radius: 1.8vh;
}

.player-stats-box p {
    margin: 1vh;
    font-size: 4vh;
    font-weight: bold;
    margin: 0.5vh auto 0.5vh auto;
}

.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-box {
    width: 27vw;
    height: 27vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.2vh;
    margin: max(2vh, 20%) auto 2vh auto;
}

.game-field {
    top: 13vh;
    position: relative;
    width: 8vw;
    height: 8vw;
    background-color: white;
    color: black;
    font-size: 1vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 5vh;
    color: white;
    font-weight: bold;
}


.game-field:hover {
    background-color: darkgray;
    color: white;
}

.game-stats-box {
    margin-top: 1vh;

}
.player-vs-text {
    position: relative;
    top: 7vh;
    font-weight: bold;
    font-size: 6vh;
    text-align: center;
}


.player-vs {
    font-weight: bolder;
    font-size: 6vh;
}

.player-turn-text {
    top: 1vh;
    position: relative;
    font-weight: bold;
    font-size: 3.5vh;
    text-align: center;
}


.col-red {
    color: red;
}

.col-blue {
    color: blue;
}

.chat-container {
    position: relative;
    top: -5vh;
    background-color: aqua;
    width: 80%;
    height: 28vh;
    justify-self: center;
    margin: 0 auto;
    color: black;
    border-radius: 1vh;
    overflow: hidden;
}

.chat-input {
    font-size: 3vh;
    margin: 0;
    height: 4vh;
    max-height: 4vh;
    width: 150%;
    border-top: 0.4vh solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    position: absolute;
    bottom: 0;
}


#chat-list {
    margin: 0;
    bottom: 2vh;
    width: 100%;
    list-style: none;
    padding: 1vh 0 0 0;
    overflow: auto;
    height: 22vh;
}

#chat-list li {
    width: auto;
}

#msg-popup-box {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

#msg-popup-box div,
#msg-popup-box-text {
    width: 60vw;
    height: 50vh;
    background-color: white;
    border-radius: 1vh;
    padding: 2vh;
    color: black;
    text-align: center;
    font-size: 4vh;
}

.drop-shadow-game-box {
    box-shadow: 0.4vh 0.4vh 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
}

.chat-red, .chat-blue {
    font-weight: bold;
}

.chat-red {
    color: red;
}

.chat-blue {
    color: blue;
}

.log {
    width: 30vw;
}

img.log {
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}
.home {
    width: 5vw;
    height: auto;
}

img.home {
    position: fixed;
    top: 0;
    left: 0;
}

#invite-link-div {
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2vh 0 0;
}

#invite-link-div button {
    width: 14vw;
    height: 10vh;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 1vh;
    font-size: 2.5vh;
    cursor: pointer;
}

