body {
    background-image: url("/shared/images/backgroundInGame.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main-content {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;

    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
}

.player-box {
    width: 350px;
    height: 100%;
}

.player-red {
    justify-self: left;
}

.player-blue {
    justify-self: right;
}

.player-info-box {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;
}

.player-name {
    background-color: white;
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-width: 5px;
}

.player-red .player-name, .player-red .player-image {
    border-color: red;
    border-style: solid;
}

.player-blue .player-name, .player-blue .player-image{
    border-color: blue;
    border-style: solid;
}

.player-image {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    border-width: 8px;
}


.player-red .player-stats-box {
    background-color: red;
}

.player-blue .player-stats-box {
    background-color: blue;
}

.player-stats-box {
    margin: 40px auto 20px auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;
}

.player-stats-box p {
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    margin: 5px auto 5px auto;
}

.game-container {
    width: 500px;
    height: 500px;
    justify-self: center;
    justify-items: center;
}

.game-box {
    width: 500px;
    height: 500px;
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    justify-items: center;
}

.game-field {
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: center;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 30px;
}

.game-field:hover {
    background-color: darkgray;
    color: white;
}

.game-stats-box {
    margin-top: 10px;
}

.player-vs-text {
    margin-top: 0px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.player-vs {
    font-weight: bolder;
    font-size: 40px;
}

.player-turn-text {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.col-red {
    color: red;
}

.col-blue {
    color: blue;
}

.chat-container {
    background-color: aqua;
    width: 80%;
    height: 300px;
    justify-self: center;
    margin: 20px auto auto auto;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

#chat-list {
    margin: 0px;
    bottom: 20px;
    width: 100%;
    list-style: none;
    padding: 10px 0px 0px 0px;
    overflow: auto;
    height: 250px;
}

#chat-list li {
    width: max-content;
}

#chat-input {
    margin: 0px;
    height: 40px;
    width: 100%;
    border-top: 4px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#msg-popup-box {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#msg-popup-box div, msg-popup-box-text {
    position: absolute;
    width: 600px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 40px;
}

.drop-shadow-game-box {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}