body{
    background: linear-gradient(to top right, #32E8FF, #0075FF);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.results-container {
    background-color: white;
    width: 40vw;
    height: 70vh;
    aspect-ratio: 4 / 3;
    text-align: center;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: black;
}

@media (min-aspect-ratio: 16/9) {
    .results-container {
        height: 70vh;
        width: 40vw;
    }
}

@media (max-aspect-ratio: 4/3) {
    .results-container {
        height: 70vh;
        width: 60vw;
    }
}

