:root {
    --text-col: white;
    --link-col: white;
    --input-bg-col: #2010AF;
    --input-col: white;
    --bg-col: #2076bf;
}

body, #loader-div {
    background-color: var(--bg-col);
    color: var(--text-col);
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


h1, h2, h3
{
    color: var(--text-col);
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 80px;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--link-col);
}


.inline {
    display: inline-block;
    /*border: 1px solid red;*/
}
.hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}