body{
    background: linear-gradient(to top right, #32E8FF, #0075FF);
}

.menu-tile {
    border: 1px solid black;
    background-color: orangered;
    font-size: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-tile:hover {
    background-color: red;
}
