

body, #loader-div {
    background: linear-gradient(to top right, #32E8FF, #0075FF);
}

.pfp{
    box-shadow: 0 0.4vh 0.4vh 0 rgba(0, 0, 0, 0.4);
}



.menu-tile {
    box-shadow: 0 0.4vh 0.4vh 0 #00000066, inset 0 0 1vh;
    background-color: #E01F16;
    font-size: 3.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.menu-tile:hover {
    background-color: red;
}

.menu-tile span {
    transform: scale(1);
    transform-origin: center;
}

.menu-tile:active {
    box-shadow: inset 0 0 10px black;
}

.menu-tile:active span {
    transform: scale(0.9);
}

.menu-tile-disabled {
    pointer-events: none;
    opacity: 0.4;
}

.menu-tile-disabled:hover {
    background-color: #E01F16;
}

.drop-shadow-figma {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}

.logo{
    margin-top: 11px;
    max-width: 30%;
    min-width:20%;
    height: auto;
}

.general-button-style{
    border-radius: 50px 50px 50px 50px;
    border:2px solid #E01F16;
    width:100px;
    height:100px;
    background-color: #E01F16;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);

}

.general-button-style:hover {
    background-color: red;
}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 260px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #FFFFFF;
    border: 3px solid #E01F16;
    box-shadow: 3px 6px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.dropdown-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}



.addButton {
    display: inline-block;
    vertical-align: middle;
    width: 5vh;
}

.addButton button {
    width: 5vw;
    height: 5vh;
    border: 0.2vh solid white;
    background-color: black;
    color: white;
    border-radius: 2vh;
    float:right;
    cursor: pointer;
}


.addButton button:hover{
    background-color: rgb(32, 32, 32);
}

.searchbar {
    vertical-align: middle;
    width: 50vw;
}
.searchbar input::placeholder {
    color: white;
}
.searchbar input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.2vh solid white;
    background-color: transparent;
    outline: none;
    width: 45vw;
    padding: 1.6vh;
    font-size: 1.5vw;
    color: white;
}

.friend {
    border: 0.2vh solid black;
    display: flex;
    flex: 1;
    border-radius: 1.5vh;
    margin-top: 0.8vh;
    background-color: white;
    color: black;
}


.topbar{
    display: flex;
    flex: 1;
}

.bottombar{
    margin-top: 1.6vh;
}

#friend-list-cont{
    padding: 3.2vh;
}

.friend_pfp img{
    border-radius: 100%;
}

.challengeButton {
    display: flex;
    align-items: center;
}

.challengeButton button {
    background-color: #CA0000;
    width: 150px;
    height: 30px;
    margin-right: 8px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    color: white;
}


.friend_username {
    display: flex;
    align-items: center;
    width: 75%;
}

.friend_username span{
    margin-left: 16px;
    vertical-align: middle;

}
.dropdown-notify-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 35vw;
    align-items: center;
    right:-3vh;
}

.notification-center{
    position: fixed;
    margin-left: 0vh;
    margin-top: 10vh;
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: auto;
    border: 0.2vh solid red;
    box-shadow: 0 0.8vh 1.6vh rgba(0, 0, 0, 0.2);
    border-radius: 1vh;

}

#notification-list {
    max-height: 25vw;
    overflow-y: auto;
    overflow-x: hidden;
}

#notification-content{
    height: 30vh;
    max-height: 50vh;

}

.triangle {
    position: fixed;
    margin-top: 2.5vh;
    margin-left: 10vh;
    border-left:6vw solid transparent;
    border-right: 6vw solid transparent;
    border-bottom: 7.5vh solid rgb(255, 255, 255);
  }

  .notifications{
    color: black;
    text-align: center;
  }

.decision-btns button{
    background-color: red;
    border:none;
    border-radius: 45px;
    color: white;
    padding: 8px;
    margin: 0px 0px 16px 16px;
}

.x-button button{
    background-color: #9B9B9B;
    color: white;
    border-radius: 90px;
    border: none;
    padding:8px;
    width: 30px;
    height: 30px;
    margin-top: 50%;
    margin-right: 8px;
}

.notify-pfp img{
    border-radius: 90px;
}

.notify-pfp-div{
    width: 50px;
    height: 70px;
    margin:8px;
}

.message {
    margin-top:8px;
    width: 230px;
    display: inline-block;
}

.server-message{
    width: 265px;
    margin: 16px 16px 16px 16px;
}

.message span{
    display: inline;
}

.notification-unread {
    background-color: #e1fffb;
}

.notification-read {
    background-color: #eFeFeF;
}

.notification-entry{
    border-bottom: 2px solid #BAB6B6;
}

.flexify{
    display: flex;
}

.message-title{
    color: red;
}

.message-itself{
    color: black;
    font-size: smaller;
}

.viewProfile {
    position: absolute;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: none;
}





