body{
    background: linear-gradient(to top right, #32E8FF, #0075FF);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-size: 25px;
    font-weight: bold;
    color: orangered;
}